# Rust
/target/

# Editiors
.idea/
.zed/
.vscode/

# OS Specifics
.DS_Store

# AI Stuff
.junie
.gemini
.antigravity
.antigravitycli
GEMINI.md

# Other

*.sqlite
*.sqlite-journal
/.env
/migrations/
/config/llm/collections/*.pdf
/data/
/sweep.timestamp
/assessment/hidde*.yml
*.db
/*.sql
/config/
CSML
run-local.sh
/schemas/
/tools

/docs/superpowers
.superpowers